# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/fabric/run/*
/.name
/modules/common/building_but_better.common.iml
/modules/common/building_but_better.common.main.iml
/modules/common/building_but_better.common.test.iml
/modules/fabric/building_but_better.fabric.main.iml
/modules/fabric/building_but_better.fabric.test.iml
/modules/forge/building_but_better.forge.main.iml
/modules/forge/building_but_better.forge.test.iml

/.gradle

/modules/fabric/run/
/modules/fabric/build/
/modules/fabric/.gradle/
/modules/common/build/
/modules/common/.gradle/
/modules/forge/run/
/modules/forge/build/
/modules/forge/.gradle/

/fabric/run/
/fabric/build/
/fabric/.gradle/
/common/build/
/common/.gradle/
/forge/run/
/forge/build/
/forge/.gradle/

**/.gradle/
**/build/
out/
classes/
**/run/
.idea/
/src/main/generated/.cache/
*.py